spring:
  application:
    name: course-edge-seevice

server:
  port: 8081

dubbo:
  application:
    name: course-service-consumer
    id: course-service-consumer
  registry:
    address: zookeeper://127.0.0.1:2181
  protocol:
    name: dubbo
    host: 127.0.0.1
    port: 20880
  scan:
    basePackages: com.yourtion.micro.course
